# ================================
# Maven / Build
# ================================
target/
*.log
*.tmp
*.class
*.jar
*.war

# ================================
# IDE / Editors
# ================================
.idea/
.vscode/
*.iml

# Eclipse specific
.project
.classpath
.settings/

# ================================
# OS Specific
# ================================
.DS_Store
Thumbs.db

# ================================
# Autres fichiers à ignorer
# ================================
/bin/
/out/
